/* Example styles for displaying a Taxonomic Card from its source document */
.morpho-criteria > article {
    background-color: red
}

.morpho-criteria::before {
    color: red;
    content: "Morphological identification criteria";
}


.descriptive-schemas::before {
    color: blue;
    content: "Descriptive schemas";
}

.descriptive-schemas>div::before {
    // For the proof of concept only, as the ::before is realy not-styled basic text
    content: attr(data-view-name);
    color: #000;
}

.svg-templates {
    height: 0;
}