/* Example styles for displaying a Taxonomic Card from its source document */
.morpho-criteria > article {
    background-color: red
}

.morpho-criteria::before {
    color: red;
    content: "Morphological identification criteria";
}


.descriptive-schemas::before {
    color: blue;
    content: "Descriptive schemas";
}

.descriptive-schemas > div::before {
    /* For the proof of concept only, as the ::before is really not-styled basic text */
    content: attr(data-view-name);
    color: #000;
}

.descriptive-schemas > div {
    max-width: 600px;
}

.svg-templates {
    height: 0;
}

.more-examples::before {
    color: magenta;
    content: "More examples";
}

.more-examples > div::before {
    /* For the proof of concept only, as the ::before is really not-styled basic text */
    content: attr(data-view-name);
    color: #000;
}

.more-examples > div {
    /*min-width: 300px;*/
    /*min-height: 300px;*/
    /*background-color: magenta;*/
    /*height: 200px;*/
    max-width: 200px;
    border:1px solid black;
}
