/* Example styles for displaying a Taxonomic Card from its source document */
.morpho-criteria > article {
    background-color: red
}

.morpho-criteria::before {
    color: red;
    content: "Morphological identification criteria";
}

.descriptive-schemas::before {
    color: blue;
    content: "Descriptive schemas";
}

.descriptive-schemas > div::before {
    /* For the proof of concept only, as the ::before is really not-styled basic text */
    content: attr(data-view-name);
    color: #000;
}

.descriptive-schemas > div {
    max-width: 600px;
}

.svg-templates {
    height: 0;
}

.more-examples::before {
    color: magenta;
    content: "More examples";
}

.more-examples > div::before {
    /* For the proof of concept only, as the ::before is really not-styled basic text */
    content: attr(data-view-name);
    color: #000;
}

.more-examples > div {
    /* Setting the width sizes the SVG */
    max-width: 200px;
    border:1px solid black;
}

.photos-and-figures::before {
    color: rgba(36, 117, 98, 0.93);
    content: "Photos and figures";
}

.possible-confusions::before {
    color: magenta;
    content: "Possible confusions";
}

.possible-confusions > div::before {
    /* For the proof of concept only, as the ::before is really not-styled basic text */
    content: attr(data-view-name);
    color: #000;
}

.possible-confusions > div {
    /* Setting the width sizes the SVG */
    min-width: 600px;
    max-width: 800px;
    border: 1px solid black;
}

.possible-confusions ol {
    /*position: fixed;*/
    bottom: 0;
}


.confusion-pair {
    display: flex;
}

.confusion-self {
    border: 2px solid lightgreen;
}

.confusion-other {
    border: 2px solid indianred;
}